#navigation .float-right li {
    margin-left: 5px;
}

#SelectedCategory_chosen .chosen-single {
    background-color: #e0e0e0;
}

#navigation .fa-ticket {
    font-size: 24px !important;
    width: 16px !important;
    margin-top: -2px !important;
}

.fa-ticket:before {
    font-weight: bold !important;
    content: "J" !important;
}

.hide {
    display: none;
}

.manage-index.resume.photo-bg .left-titlebar h6 {
    margin-top: 18px;
    line-height: 0px;
    font-weight: 300;
    color: #c0c0c0;
}

.manage-index .resumes-list-content h6 {
    margin-top: 18px;
    line-height: 0px;
    font-weight: 300;
}

.fa-microsoft:before {
    content: "\f17a";
}

.plan-features ul li span {
    font-size: 16px;
    font-weight: 300;
}

.campaign-overview ul li div {
    top: -36px;
    margin-left: 44px;
}

.campaign-overview .fa-2x {
    font-size: 2em;
}

.card-image img {
    max-height: 44px;
}

    .card-image img.visa {
        margin-top: 8px;
        display: none;
    }

    .card-image img.master {
        display: none;
    }

.menu ul {
    text-transform: initial;
}

.app-tabs .app-tab-content {
    padding: 0 0 10px 0;
}

.wide-list i {
    margin-right: 8px;
    float: left;
}

.categories-group h4 a {
    color: #333;
}

    .categories-group h4 a:hover {
        color: #fa5b0f;
    }

.infobox {
    font-size: 24px;
    padding: 25px 0;
}

    .infobox strong {
        color: #fff;
    }

.button {
    text-transform: initial !important;
}

#titlebar h3 a {
    color: #aaa;
}

.content-control {
}

    .content-control ol, .content-control ul {
        list-style: initial;
        margin: 12px 0;
        padding-left: 40px;
    }

    .content-control li {
        line-height: 24px;
    }

.center {
    text-align: center;
}

.banner {
    margin-bottom: -8px;
}

.footer-bottom .copyrights {
    text-align: left;
}

.footer-bottom img {
    margin-top: 10px;
    width: 200px;
}

.footer-bottom .social-icons {
    margin: 0;
}

.navigation ul {
    margin: 3px 0 10px 0px;
}

.navigation li a {
    color: #000 !important;
}

    .navigation li a:hover {
        padding-left: 16px;
        color: #fa5b0f !important;
    }

.validation-summary-valid {
    display: none;
}

.text-danger {
    color: #de5959;
}

.input-validation-error {
    border: 1px solid #F3B3AF !important;
    background: #ffeceb !important;
}

.checkboxes input[type=checkbox].input-validation-error + label:before {
    border: 2px solid #de5959;
}

.item-view .fa {
    width: 20px;
    text-align: center;
}

.item-view .rating {
    margin-top: 19px;
}

.item-view .rate-number {
    margin-right: 10px;
}

.item-view .verified-providers {
    margin-left: 0px;
    margin-top: 20px;
}

    .item-view .verified-providers span {
        margin-right: 14px;
    }

.item-view .answer {
    font-style: italic;
    margin-bottom: 18px;
}

.manage-index .resumes-list-content h4 span {
    margin-bottom: 0 !important;
}

.manage-index .rating {
    margin-top: 19px;
}

.manage-index h2 {
    margin-top: 60px;
    margin-bottom: 12px;
}

    .manage-index h2:first-child {
        margin-top: 0;
        margin-bottom: 12px;
    }

.manage-index .fa,
#navigation .fa {
    width: 22px;
}

.wide-list .fa {
    width: 10px !important;
}

.icon-link {
    margin-top: 6px !important;
}

    .icon-link a {
        padding: 0 !important;
    }

.no-background .fa {
    font-size: 20px;
}

.manage-index .avatarImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 6px solid #aaa;
    overflow: hidden;
    position: relative;
}

.manage-index .resume-titlebar img {
    width: 100%;
    height: auto;
    border-radius: 0%;
    float: none;
    display: block;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

#titlebar.manage-index.photo-bg {
    padding: 60px 0;
}

    #titlebar.manage-index.photo-bg h4 span {
        color: #fff !important;
    }

    #titlebar.manage-index.photo-bg .icons,
    #titlebar.manage-index.photo-bg .icons a {
        color: #dcdcdc !important;
    }

.manage-index .resume-titlebar .resumes-list-content,
.manage-index .resumes-list .resumes-list-content,
.manage-index .job-list .job-list-content {
    display: block;
    position: relative;
    margin: 12px;
}

.manage-index .resume-titlebar .resumes-list-content {
    margin-left: 20px;
}

.manage-index #titlebar.resume {
    margin-bottom: 0px;
    padding: 20px 0;
}

.manage-index .resume-titlebar .resumes-list-content {
    padding: 0px;
}

    .manage-index .resume-titlebar .resumes-list-content h4 {
        margin-bottom: 8px;
    }

.manage-index .widget h4 {
    margin-top: 16px;
    margin-bottom: 0;
}

.manage-index .widget-tabs a {
    color: #000;
}

    .manage-index .widget-tabs a:hover {
        color: #fa5b0f;
    }

.manage-index .widget-tabs {
    margin-top: 32px;
}

    .manage-index .widget-tabs li {
        padding: 0;
        margin: 10px 0;
        border-bottom: 1px solid #e0e0e0;
    }

.manage-index .activity tr td {
    padding: 4px 0 !important;
    border: none;
}

.manage-index .activity tr:hover td {
    border: none;
}

.manage-index table.activity tr:nth-child(2n+1) {
    background: none;
}

.manage-index table.activity tr td:last-child {
    padding: 4px !important;
    font-size: 90%;
    width: 120px;
}

.manage-index table.activity .title {
    text-indent: 10px;
}

.manage-index table.activity td.title a {
    font-weight: normal;
}

.upload-btn {
    color: #fff !important;
}

.manage-index.submit-page label {
    color: #000;
    font-weight: bold;
}

    .manage-index.submit-page label span {
        color: #888;
    }

.manage-index.submit-page .columns {
    margin: 0;
    margin-right: 20px;
}

    .manage-index.submit-page .columns.last {
        margin: 0;
    }

.manage-index .filters {
    width: 100%;
}

.manage-index #titlebar {
    padding: 10px;
    margin-bottom: 10px;
}

.link-button {
    color: #fa5b0f !important;
    background: none !important;
    text-transform: initial !important;
    font-weight: initial !important;
    padding: 0px !important;
    font-family: inherit !important;
}

.rate-number {
    margin-top: 12px;
    background: #ffb400;
    color: #fff !important;
    float: left;
    padding: 6px;
}

.quick-actions {
    margin-bottom: 20px;
}

    .quick-actions a {
        margin-right: 6px;
    }

.verified-providers {
    margin-left: -5px;
    margin-top: 14px;
}

    .verified-providers span {
        width: 36px;
        text-align: center;
        margin: 0;
    }

    .verified-providers .fa {
        font-size: 24px;
    }

    .verified-providers .tick i {
        color: #2db2ea !important;
    }

.verified-provider {
    color: #58ba2b;
}

.gallery a {
    width: 100%;
    height: 200px;
    display: block;
    margin-right: 0px;
    margin-bottom: 10px;
}

    .gallery a.img-a {
        overflow: hidden;
        position: relative;
    }

.gallery .item {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.left-titlebar {
    float: none;
    margin: 0 20px;
}

.chosen-choices input:focus {
    box-shadow: none;
}

input:disabled {
    background-color: #ebebe4;
}

.center-image {
    margin: 0 auto;
}

.gallery-item {
    float: left;
    margin-right: 10px;
    margin-bottom: 12px;
}

    .gallery-item span {
        position: absolute;
        margin-top: 48px;
        margin-left: 22px;
        color: #fa5b0f;
    }

    .gallery-item input {
        display: none;
    }

    .gallery-item .add-button {
        width: 126px;
        height: 126px;
        border: 2px solid #aaa;
    }

        .gallery-item .add-button span {
            font-size: 74px;
            font-weight: 100;
            margin-top: 44px;
            margin-left: 42px;
        }

    .gallery-item .img-span {
        width: 130px;
        height: 130px;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        display: block;
    }

    .gallery-item img {
        max-width: initial;
        width: auto;
        height: 100%;
        display: block;
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
    }

    .gallery-item a.delete-button {
        position: absolute;
        margin-top: 0px;
    }

.itemH4 {
    margin-left: 0;
}

    .itemH4 i {
        display: none;
    }

@media only screen and (max-width: 767px) and (min-width: 480px) {
    .item-view .gallery a {
        width: 100%;
    }
}

@media only screen and (min-width: 1290px) {
    .item-view .gallery a {
        width: 32%;
    }
}

@media only screen and (min-width: 767px) {
    .gallery a {
        width: 47%;
        height: 200px;
        display: block;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .left-titlebar {
        float: left;
        margin-right: 30px;
    }

    .manage-index .filters {
        width: 200px;
    }

    .itemH4 {
        margin-left: -44px;
    }

        .itemH4 i {
            display: inline;
            margin-right: 14px;
            font-size: 1.5em;
            text-align: center;
            position: relative;
            top: 3px;
        }
}

@media only screen and (min-width: 991px) {
    .no-background {
        background-color: transparent !important;
    }

        .no-background:hover {
            color: #fa5b0f !important;
        }

    .search-container {
        padding: 100px 0;
    }

    .wide-list {
        width: 700px !important;
    }

        .wide-list li {
            float: left !important;
            display: inline !important;
            width: 30% !important;
        }

    .categories-group ul li {
        width: 33%;
        float: left;
    }

    .search-container input.ico-01 {
        width: 49%;
    }

    .search-container input.ico-02 {
        width: 37%;
    }

    .manage-index.submit-page .six.columns {
        width: 370px;
        margin-right: 10px;
    }

    .manage-index.submit-page .four.columns {
        width: 200px;
    }

    .upload-btn.avatar-btn {
        width: 164px;
    }
}

@media only screen and (min-width: 1290px) {
    .manage-index.submit-page .five.columns {
        width: 289px;
    }

    .manage-index.submit-page .six.columns {
        width: 388px;
        margin-right: 10px;
    }

    .manage-index.submit-page .four.columns {
        width: 200px;
    }
}

@media only screen and (min-width: 768px) {
    .right {
        float: right !important;
    }
}

@media only screen and (max-width: 990px) and (min-width: 768px) {
    .categories-group ul li {
        width: 50%;
        float: left;
    }

    .upload-btn.avatar-btn {
        width: 136px;
    }
}

@media only screen and (max-width: 990px) {
    ul.float-right li a:hover,
    ul.float-right li a {
        background-color: #fff;
        color: #333;
    }
}

/*
* Styling the base of the buttons
*/
.social-button {
    width: 240px;
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    height: 44px;
    padding: 0px;
    margin-bottom: 10px;
}

    .social-button:hover {
        color: #fff;
    }

    .social-button .name {
        text-transform: none;
        padding-top: 9px;
        display: block;
        text-align: left;
    }

    .social-button .icon {
        padding: 8px 12px;
        background: rgba(0, 0, 0, 0.15);
        display: block;
        float: left;
        margin-right: 10px;
        width: 18px;
    }

    .social-button i {
        font-size: 22px;
        vertical-align: middle;
    }
/*
* Changing the background color for each button
*/
.sb-facebook {
    background: #3b5998;
}

.sb-twitter {
    background: #00acee;
}

.sb-windows {
    background: #2672ec;
}

.sb-googleplus {
    background: #dd4b39;
}

.sb-linkedin {
    background: #0e76a8;
}

.sb-rss {
    background: #ee802f;
}

.sb-facebook:hover {
    background: #354f88;
}

.sb-twitter:hover {
    background: #0089bd;
}

.sb-windows:hover {
    background: #0a50c2;
}

.sb-googleplus:hover {
    background: #b03b2d;
}

.sb-linkedin:hover {
    background: #0b5e85;
}

.sb-rss:hover {
    background: #bd6625;
}

.register-div h4 {
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
}

.register-div .button {
    width: 91%;
    text-align: center;
}