<!--Page Footer-->
<footer id="page-footer">
    <div class="inner">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <section>
                            <h2>Şirket</h2>
                            <ul class="footer-links">
                                <li><a href="/hakkimizda/">Hakkımızda</a></li>
                                <li><a href="/kariyer/">Kariyer</a></li>
                                <li><a href="/iletisim">İletişim</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <section>
                            <h2>Bilgi</h2>
                            <ul class="footer-links">
                                <li><a href="/nasilcalisir/">Nasıl Çalışır?</a></li>
                                <li><a href="/sss/">Sıkça Sorulan Sorular</a></li>
                                <li><a href="/yardim/">Yardım</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <section>
                            <h2>Hizmet</h2>
                            <ul class="footer-links">
                                <li><a asp-route="categories">Kategoriler</a></li>
                                <li><a asp-route="campaign" data-page="4">Kampanyalar</a></li>
                                <li><a asp-route="wherewe" data-page="5">Nerelerdeyiz?</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <section>
                            <h2>İletişim</h2>
                            <address>
                                <figure>
                                    <a href="mailto:iletisim@ustaevi.com">
                                        <div class="info">
                                            <i class="fa fa-envelope"></i>
                                            <span>iletisim@ustaevi.com</span>
                                        </div>
                                    </a>
                                </figure>
                            </address>

                            <div class="social">
                                <a class="social-button" href="http://www.facebook.com/teklifcepte" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a class="social-button" href="https://twitter.com/teklifceptee" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a class="social-button" href="https://www.instagram.com/teklifcepte/" target="_blank"><i class="fa fa-instagram"></i></a>
                            </div>

                            <a asp-route="register" asp-route-type="sirket" class="btn framed icon">Hizmet Ver<i class="fa fa-angle-right"></i></a>
                        </section>
                    </div>
                    <!--/.col-md-4-->
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </div>
        <!--/.footer-top-->
        <div class="footer-bottom">
            <div class="container">
                <div>
                    <a href="/">
                        Usta Evi  @*<img src="~/images/logo.png" alt="Usta Evi" title="Usta Evi">*@
                    </a>
                </div>
                <div>
                    <span class="left">
                        ©  2015 Tüm Hakları Saklıdır. | <a href="/gizlilik/">Gizlilik</a> | <a href="/kullanicisozlesmesi/">Kullanıcı Sözleşmesi</a>
                    </span>
                    <span class="right">
                        <a href="#page-top" class="to-top roll"><i class="fa fa-angle-up"></i></a>
                    </span>
                </div>
            </div>
        </div>
        <!--/.footer-bottom-->
    </div>
</footer>