@model ForgetPasswordViewModel

<div id="titlebar" class="single">
    <div class="container">
        <div class="sixteen columns">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="five columns">
        @await Component.InvokeAsync("Content", new { content = ViewBag.Content })
    </div>
    <div class="eleven columns">
        <form asp-route="forgetpassword" method="post" role="form">
            <p class="form-row form-row-wide">
                <label asp-for="CellPhone"></label>
                <input asp-for="CellPhone" />
                <span asp-validation-for="CellPhone" class="text-danger"></span>
            </p>

            <p class="form-row">
                <button type="submit" class="button">Onayla</button>
            </p>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}