@model ResetPasswordViewModel

<div id="titlebar" class="single">
    <div class="container">
        <div class="sixteen columns">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="five columns">
        @await Component.InvokeAsync("Content", new { content = ViewBag.Content })
    </div>
    <div class="eleven columns">
        <form asp-route="resetpassword" method="post" role="form">
            <input asp-for="UserId" type="hidden" value="@ViewData["userId"]" />
            <input asp-for="Code" type="hidden" value="@ViewData["code"]" />

            <p class="form-row form-row-wide">
                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </p>

            <p class="form-row form-row-wide">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </p>

            <p class="form-row">
                <button type="submit" class="button">Onayla</button>
            </p>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}